pytorch-lightning
matplotlib
protobuf==3.20.*
scipy
# TODO: [SR] Removed this for MacOS M1 compatibility (installed separately through Conda)
#       Enable line 7 `Shapely==1.8.0` if you are running this on a different distribution
# Shapely==1.8.0
tensorflow
torchmetrics
tqdm==4.62.3
pyyaml
imageio
wandb
yapf==0.30.0